@charset "utf-8";/* CSS Document */
@import url('https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i|Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i');
body {
	color: #2C2B2B;
	font-family: 'open sans', sans-serif;
	font-size: 13px;
}
*{-webkit-transition: all 0.4s ease-in-out;
-moz-transition: all 0.4s ease-in-out;
-ms-transition: all 0.4s ease-in-out;
-o-transition: all 0.4s ease-in-out;
transition: all 0.4s ease-in-out;}
h1, h2, h3, h4, h5, h6 {
	font-weight: 700;
	text-transform: uppercase;  font-family: 'Raleway', sans-serif;
}
p{ line-height:24px;}
h2 {
    font-size: 24px;
    color: #333;
}
ul, li {
	padding: 0;
	list-style: none; margin:0;
}
a:focus,a:hover, a {
	text-decoration: none; color:#141313;
}
img {
	max-width: 100%;
}


.profile_wrap,.hotel_map,.hotel_book_box,.hotel_accept_card,.hotel_custmer_review,.offer_about,.title_tour,.offer_panel_outer,.title,.services_list_outer,.leader_outer,.bottom_footer,.package_inner,.top_header,.travel_spcial,footer,.newsletter_outer,.booking_why_outre,.package_outer,.banner_outer,header { position:relative;   float: left;    width: 100%;}
.travel_spcial,.newsletter_outer,.package_outer{ padding:30px 0}
header {    background: #222222;    color: #fff; }
header li a{ color:#fff; font-size:14px; }
header li{ display: inline-block;text-transform:uppercase;border-left: 1px solid #424242;padding: 15px 10px;text-align: center;}
header li:last-child {    padding-right: 0;}
header li a:hover{ color:#f71430;}
header .social_icon li i{color:#f71430; margin-right:5px}
.banner_outer .banner_img img{ width:100%; height:auto;}
.banner_outer{ float:left; width:100%; background:url(../images/slider1.jpg) no-repeat; background-size:cover;}
.top_header{ background:rgba(0,0,0,0.5)}
.navbar-collapse{ padding:0}
.navbar-default{ background:none; border:none; margin:0; border-radius:0}
.top_header a.logo{ display:inline-block; padding:10px 0}
.nav.navbar-nav li a{ color:#fff; text-transform:uppercase; font-size:15px; padding: 31px 20px;}
.nav.navbar-nav li.active a:hover,.nav.navbar-nav li.active a,.nav.navbar-nav li a:hover{ background:#F71430; color:#fff;}
#horizontalTab table {
    width: 100%;
}
#horizontalTab table td {
    padding: 5px;
}
.nav.navbar-nav li{ margin:0 3px;}
.banner_inner {
    background: rgba(0,0,0,0.6);
    float: left;
    width: 100%;
}
.home .banner_img {
    height: auto;
   
}
.banner_img {
    height: 300px;
	overflow:hidden;
}
.banner_content h1 {
    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;line-height: 66px;
    font-size: 50px; 
}
.banner_content h1 span {
    font-weight: 900;
}
.banner_content p {
    font-size: 18px;
    color: #fff;
    font-weight: 500; margin:20px 0;
}

.btn-primary{ background:#F71430; border-color:#F71430;}

.read_more_btn:focus,.read_more_btn:active,.read_more_btn:hover{ color:#fff; border-color:#000} 
 .read_more_btn {
    color: #fff;
    text-transform: uppercase;
    font-size: 24px;
    display: inline-block;
    padding: 15px 80px;
    border-radius: 3px;background:#F71430; border-color:#F71430;
}
.title_tour h2::after {
    content: "";
    width: 80px;
    height: 3px;
    background: #f71430;
    position: absolute;
    bottom: -11px;
    left: 0;
    right: 0;
    margin: 0 auto;
}
.title_tour h2{
    font-size: 30px;
    font-weight: 600;
    text-transform: capitalize;
    position: relative;
    color: #141313;
    padding: 10px 0;
    margin: 15px 0 30px;
}
.title_tour p{ font-size:14px; color:#807e7e; padding: 0 200px;}
.title_tour {   margin: 0 0 50px; text-align:center;}
.package_outer{ background:#f6f6f6;}
.package_inner {
    background: #fff;
    box-shadow: 0 1px 2px 0 #eeeeeeee;
}
.package_title {
    float: left;
    width: 100%;
}
.package_inner_cont{ float:left; width:100%; padding:15px;}

.package_title h4 {
    text-transform: capitalize;
    font-size: 16px;
    margin: 0;
}
.package_title h5 {
    color: #7c7b7b;
    font-size: 16px;
    font-weight: 400;
    text-transform: capitalize;
    margin: 0;
}
.package_title span {
    color: #F71430;
    font-size: 18px;
    font-weight: 800;
}
.package_inner_cont h3 {
    font-size: 14px;
    color: #7c7b7b;
    text-transform: capitalize;
    float: left;
    width: 100%;
}
.package_inner_cont h3 i {
    color: #f71430;
    margin-right: 5px;
}
.rating i {
    color: #ffa127;
}
.rating {color: #7c7b7b;
    float: left;
    width: 100%;
}
.tour_img_outer {
    float: left;
    width: 25%;
}
.tour-image{ position:relative;}
.tour-image img{ width:100%; height:auto;}
.ttour_img_outer-wrap{position: relative;overflow: hidden;}
.tour-overlay{position: absolute;
top: 0px;
right: 0px;
bottom: 0px;
left: 0px;
background: #000;
opacity: 0;
transition: opacity 300ms;
-moz-transition: opacity 300ms;
-o-transition: opacity 300ms;
-webkit-transition: opacity 300ms;
}
.tour-overlay-front{position: absolute;
top: 0px;
right: 0px;
bottom: 0px;
left: 0px;
background: url('../images/tour-category-item-gradient.png') bottom repeat-x;}

.tourmaster-tour-category-head{position: absolute;
bottom: 0px;height: 110px; 
left: 0px;
right: 0px;  padding: 20px;
color: #fff;}
.tour_img_outer:hover .tour-overlay{opacity: 0.65;
filter: alpha(opacity=65);}
.tour_img_outer:hover .tourmaster-tour-category-head{height: 100%;}

.tourmaster-tour-category-head h3 {
    font-size: 16px;
    color: #f71430;
    text-transform: capitalize;line-height: 23px; margin-bottom:25px
}

.newsletter_outer{ background:url(../images/bg1.jpg) center no-repeat; background-size:cover; min-height:300px; text-align:center; padding: 20px 0 60px;}
.newsletter_outer .title_tour h2 {
    color: #fff;
}
.newsletter_outer .title_tour h2::after{ background:#fff}
.newsletter_outer .title_tour p{ color:#fff;}
.newsletter_inner .submit_btn {
    background: #000;
    color: #fff;
    border: none;
    text-transform: uppercase;
    font-size: 15px;
    height: 50px;
    width: 30%;
    margin: 0;
    float: right;
}
.newsletter_inner .submit_btn:hover{ background:#F71430;}
.newsletter_inner .input_text {
    width: 70%;
    border: none;
    height: 50px;
    padding: 10px;
    margin: 0;
    float: left;
}.newsletter_inner {
    float: left;
    width: 100%;
}
.newsletter_inner form {
    width: 500px;
    background: rgba(255,255,255,0.6);
    margin: 0 auto;
    padding: 15px;
    height: 80px;
}
.travel_spcial_box {
    position: relative;
    width: 100%;
    float: left;
}
.travel_spcial_box_overlay{position: absolute;
left: 0px;
right: 0px;
bottom: 0px;
padding: 0px 30px 30px;opacity: 0; transition: opacity 500ms ease-out;
-moz-transition: opacity 500ms ease-out;
-o-transition: opacity 500ms ease-out;
-webkit-transition: opacity 500ms ease-out;}

.img_profile_panel_outer:hover .travel_spcial_box_overlay,.travel_spcial_box:hover .travel_spcial_box_overlay{ opacity:1;}

.travel_spcial_box img{transition: opacity 300ms ease-out, transform 300ms ease-out, filter 300ms ease-out;
-moz-transition: opacity 300ms ease-out, -moz-transform 300ms ease-out, -moz-filter 300ms ease-out;
-o-transition: opacity 300ms ease-out, -o-transform 300ms ease-out, -o-filter 300ms ease-out;
-webkit-transition: opacity 300ms ease-out, -webkit-transform 300ms ease-out, -webkit-filter 300ms ease-out;}
.travel_spcial_box:hover img{webkit-transform: scale(1.1);
transform: scale(1.1); opacity: 0.5;}

.travel_spcial_box_inner{ width:100%; background:#000; overflow:hidden;}
.travel_spcial_box_overlay h3 a {
    color: #fff;
    font-size: 16px;
    text-transform: capitalize;
}
.travel_spcial_box_overlay span a {
    color: #fff;
}
footer {
    background: #222222;
    color: #fff;
    padding: 30px 0;
}
footer h3 {
    font-size: 15px;
}
footer p {
    font-size: 14px;
}
footer p span {
    color: #f00;
    margin-right: 10px;
}
footer li a{ color:#fff}
footer li a {
    color: #fff;
    text-transform: capitalize;
    font-size: 15px;
}
.bottom_footer a,footer  a:hover{ color:#f71430;}
footer li {
    border-bottom: 1px solid #313131;
    padding: 10px 0;
}


.bottom_footer {
    background: #111;
    color: #67646b; text-transform:uppercase; padding:25px 0;font-size: 16px;
}
.bottom_footer a{}

.bottom_footer p a{ color:#67646b; display:inline-block; margin:0 10px;}

.resp-tabs-list li {
  font-weight: 600;
  font-size: 13px;
  display: inline-block;
  margin: 0;
  list-style: none;
  cursor: pointer;
  float: left;
  padding: 25px 20px;
text-transform: uppercase;
font-weight: 400;
}
.resp-tabs-list{ background:rgba(255,255,255,0.9); float:left; width:100%;}
.resp-tabs-container {
  padding: 0px;
  background-color: rgba(255,255,255,0.6);
  clear: left; padding-bottom:20px;
}

h2.resp-accordion {
  cursor: pointer;
  padding: 5px;
  display: none;
}

.resp-tab-content {
  padding: 15px;
}

.resp-tab-active {
  border: 1px solid #c1c1c1;
  border-bottom: none;
  margin-bottom: -1px !important;
}

.resp-tab-active {
  border-bottom: none;
  background-color: #F71430;
border-color: #F71430; color:#fff;
}

.resp-content-active,
.resp-accordion-active { display: block; }


h2.resp-accordion {
  font-size: 13px;
  margin: 0px;
  padding: 10px 15px;
}

h2.resp-tab-active {
  padding: 10px 15px !important;
}

h2.resp-tab-title:last-child {
}


/*-----------Accordion styles-----------*/

h2.resp-tab-active { background: #DBDBDB !important; }

.resp-easy-accordion h2.resp-accordion { display: block; }

.resp-easy-accordion .resp-tab-content { border: 1px solid #c1c1c1; }

.resp-easy-accordion .resp-tab-content:last-child { border-bottom: 1px solid #c1c1c1 !important; }

.resp-jfit {
  width: 100%;
  margin: 0px;
}

.resp-tab-content-active { display: block; }

h2.resp-accordion:first-child { background: #F71430 !important;
color: #fff;
text-align: center; }
/*Here your can change the breakpoint to set the accordion, when screen resolution changed*/
@media only screen and (max-width: 768px) {

ul.resp-tabs-list { display: none; }

h2.resp-accordion { display: block; }

.resp-vtabs .resp-tab-content { border: 1px solid #C1C1C1; }

.resp-vtabs .resp-tabs-container {
  border: none;
  float: none;
  width: 100%;
  min-height: initial;
  clear: none;
}

.resp-accordion-closed { display: none !important; }

.resp-vtabs .resp-tab-content:last-child { border-bottom: 1px solid #c1c1c1 !important; }
}



.horizontalTab .resp-tabs-container p{ color:#111; font-size:14px;}

.horizontalTab table{ width:100%; border:none;}
.horizontalTab table td{ padding:5px;}
table .input-select-book,table .input-text-book{ width:100%; background:#fff; border:none;	 border-bottom:1px solid #f71430; height:50px; padding:10px; color:#000; font-family: 'Raleway', sans-serif; }

table input[type=date]{ color:#6F6F6F; font-family: 'Raleway', sans-serif;}
.select_wrap{ float:left; width:80%; margin-right:15px; overflow:hidden;}
table .select_wrap .input-select-book{ width:105%; background: #fff url(../images/arrow.png) no-repeat 90% center; background-size:20px; }
.banner_content .input-btn-book{ display:block; width:100%; padding:5px; border:none;}
.btn-primary:focus,.btn-primary:active,.btn-primary:hover, .read_more_btn:hover{ background:#000}

#home_page_form .form-group{ margin:0}
.horizontalTab h2 {
    background: #F71430;
    color: #fff;
    font-size: 13px;
    font-weight: 500;
    padding: 15px;
    margin: 0;
}
#home_page_form {
    background: rgba(255,255,255,0.6);
    padding: 15px 10px;
}
 .horizontalTab {
    float: left;
    width: 100%;
}
 /*****************shubham********************/
.bradcrum {
    color: #fff;
	padding:50px 0px; float:left; width:100%;
}
.bradcrum > p {
    font-size: 16px;
    letter-spacing: 1px;
    text-transform: uppercase;
    word-spacing: 5px;
}
.banner_img::after {
    background: rgba(0, 0, 0, 0.5) none repeat scroll 0 0;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
.map{padding:50px 0px;}
.sec {
    float: left;
    width: 100%;
}
.get-in-touch{letter-spacing:1px; padding-top: 30px;}

.get-in-touch > h1 {
    color: #666;
    text-transform: uppercase;
}
.get-in-touch > p {
    color: #555;
    font-weight: 300;
}
.get-in-touch > span {
    color: #777;
    font-size: 15px;
    font-weight: 300;
    text-transform: capitalize;
}
.table_text td{border-top:0px !important;}
.table_text{margin-top:30px;}
.table_text td:nth-of-type(3) {
    font-weight: 300;
}
.table_text td:nth-of-type(2) {
    font-weight: 500;
}
.table_text tr td{padding:13px 5px !important;}
.login_for_panel .table_text tr td{padding:10px 20px !important;}
.custom_form textarea {
    border-radius: 0 !important;
	font-weight: 100;
	letter-spacing: 1px;
}
.custom_form input {
    border-radius: 0;
    font-weight: 100;
    height: 45px;
    letter-spacing: 1px;
}
.banner_content {
    float: left;
    width: 100%;
    padding:50px 0;
}
.get-in-touch table i {
    background: #eee;
    padding: 10px;
}
.get-in-touch table td{ vertical-align:middle;}
.title{ text-align:center;}
.title h3 {
    font-size: 22px;
    font-weight: 500;
    margin: 20px 0;
}.offer_panel_outer li {
    float: left;
    width: 33.33%;
    text-align: center;
    padding: 20px 30px 0;
    font-size: 16px; position:relative;
    text-transform: uppercase;
    font-weight: 600;
    color: #555;
}
.offer_panel_outer ul{ width:80%; margin:0 auto}
.offer_panel_outer li span {
    display: block;
    color: #F71430;
    font-size: 37px;
    font-weight: 800;
    margin: 10px 0 0;
}
.offer_panel_outer li::after {
    content: "";
    position: relative;
    width: 1px;
    height: 100%;
    background: #d8d8d8;
    position: absolute;
    top: 0;
    right: 0;
}
.offer_panel_outer li::before {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    border: 1px solid #ccc;
    border-radius: 50%;
    right: -4px;
    bottom: -8px;
}
.offer_about{ padding:50px 0}
.overlav_outer{ position:relative; display:block;}
.overlav {
    background: rgba(0,0,0,0.6);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    color: #fff; text-align:center;
}.overlav_outer img {
    filter: blur(2px);
}
.offer_title {
    border: 2px solid #fff;
    position: relative;
    top: 50%;
    bottom: 0;
    margin: auto;
    left: 0;
    right: 0;
    transform: translateY(-50%);
}.services_list_inner {
    border: 1px dashed #cfcfcf;
    float: left;
    width: 100%;
    padding: 20px;
    margin: 0 0 30px;
}
.services_list_inner i {
    font-size: 50px;
    color: #f71430;
}
.services_list_inner h2 {
    font-size: 20px;
    margin: 0 0 15px;
}.services_list_inner h2 span {
    color: #f71430;
}
.social_link_leader a{ display:block; color:#999; margin-bottom:15px; font-size:18px;}
.leader_inner{ position:relative;}
.overlay_bottom{ position:absolute; background:rgba(0,0,0,0.8); top:0; left:0; width:100%; height:100%; color:#fff; padding:15px; text-align:center; opacity:0}
.overlay_top{ position:absolute; background:#fff; bottom:0; left:0; width:70%; padding:15px 0 }
.overlay_top h3{ font-size:12px; font-weight:500; color:#F71430; text-transform:capitalize;}
.overlay_top h4{ font-size:16px;}
.leader_outer{ padding:0 0 30px;}
.leader_inner:hover .overlay_bottom {
    opacity: 1;
}



.rating-loading {
   /* width: 25px;
    height: 25px;*/
    font-size: 0;
    color: #fff;
    background: transparent url('../img/loading.gif') top left no-repeat;
    border: none;
}

/*
 * Stars & Input
 */
.rating-container .rating-stars {
    position: relative;
    cursor: pointer;
    vertical-align: middle;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
}

.rating-container .rating-input {
    position: absolute;
    cursor: pointer;
    width: 100%;
    height: 1px;
    bottom: 0;
    left: 0;
    font-size: 1px;
    border: none;
    background: none;
    padding: 0;
    margin: 0;
}

.rating-disabled .rating-input, .rating-disabled .rating-stars {
    cursor: not-allowed;
}

.rating-container .star {
    display: inline-block;
    margin: 0 3px;
    text-align: center;
}

.rating-container .empty-stars {
    color: #fff;
}
.room_img_wrap img {
    width: 100%;
    height: auto;
}

.rating-container .filled-stars {
    position: absolute;
    left: 0;
    top: 0;
    margin: auto;
    color: #ffdd00;
    white-space: nowrap;
    overflow: hidden;
}

.rating-rtl {
    float: right;
}

.rating-animate .filled-stars {
    transition: width 0.25s ease;
    -o-transition: width 0.25s ease;
    -moz-transition: width 0.25s ease;
    -webkit-transition: width 0.25s ease;
}

.rating-rtl .filled-stars {
    left: auto;
    right: 0;
    -moz-transform: matrix(-1, 0, 0, 1, 0, 0) translate3d(0, 0, 0);
    -webkit-transform: matrix(-1, 0, 0, 1, 0, 0) translate3d(0, 0, 0);
    -o-transform: matrix(-1, 0, 0, 1, 0, 0) translate3d(0, 0, 0);
    transform: matrix(-1, 0, 0, 1, 0, 0) translate3d(0, 0, 0);
}

.rating-rtl.is-star .filled-stars {
    right: 0.06em;
}

.rating-rtl.is-heart .empty-stars {
    margin-right: 0.07em;
}

/**
 * Sizes
 */
.rating-xl {
    font-size: 4.89em;
}

.rating-lg {
    font-size: 3.91em;
}

.rating-md {
    font-size: 3.13em;
}

.rating-sm {
    font-size: 2.5em;
}

.rating-xs {
    font-size: 15px;
}

.rating-xl {
    font-size: 4.89em;
}

/**
 * Clear
 */
.rating-container .clear-rating {
    color: #aaa;
    cursor: not-allowed;
    display: inline-block;
    vertical-align: middle;
    font-size: 60%;
}

.clear-rating-active {
    cursor: pointer !important;
}

.clear-rating-active:hover {
    color: #843534;
}

.rating-container .clear-rating {
    padding-right: 5px; display:none;
}

/**
 * Caption
 */

/* extend support to BS4 */
.rating-container .caption .label {
    display: inline-block;
    padding: .25em .4em;
    line-height: 1;
    text-align: center;
    vertical-align: baseline;
    border-radius: .25rem;
}

.rating-container .caption {
    color: #999;
    display: inline-block;
    vertical-align: middle;
    font-size: 60%;
    margin-top: -0.6em;
}

.rating-container .caption {
    margin-left: 5px;
    margin-right: 0; display:none;
}

.rating-rtl .caption {
    margin-right: 5px;
    margin-left: 0;
}
.filter_bar li {
    display:block; float:left;
    margin: 0 5px;
}.filter_bar {
    float: left;
    width: 100%;
    margin: 0 0 15px;
}
.filter_bar li a {
    font-size: 16px;
    text-transform: capitalize;
    padding: 10px 20px;
    display: block;
    box-shadow: 0 0 10px 2px #ccc inset;
    border-radius: 3px;
}
.filter_panel {
    padding: 30px 0; position: relative;
    float: left;
    width: 100%;
}
.filter_bar li:first-child {
    font-size: 20px;
    text-transform: capitalize;
    font-weight: 300;
    line-height: 50px;
}
.room_list_inner > li {
    float: left;
    width: 100%;
    background: #fafafa; margin:0 0 30px;
}
.room_list_inner .col-md-7{ padding:15px;}

.room_rate span {
    color: #f71430;
    font-size: 30px;
    font-weight: 800;
}
.filter_bar li a:hover,.filter_bar li.active a {
    background: #f71430;
    color: #fff;
    box-shadow: 0 0 10px 2px #970000 inset;
}
.filter_bar img {
    width: 20px;
}
.room_rate {
    font-size: 16px;
    text-transform: capitalize;
}
.room_list_inner p {
    color: #666;
    font-size: 13px;
    margin: 10px 0; 
}
.amenity_list li {
    float: left;
    width: 33.33%;
    color: #666;
    text-transform: capitalize;
    font-size: 14px; margin:0 0 8px;
}
.amenity_list li i {
    color: #f71430;
    margin-right: 10px;
}
.room_img_wrap .room_img_wrap._overlay {
    position: absolute;
    background: rgba(0,0,0,0.5);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; z-index:9;
}
.room_img_wrap {
    position: relative;
}
.room_dicount_tag {
    width: auto;
    height: 40px;
    position: absolute;
    background:#DF1835;
    z-index: 10;
    top: 20px;
    font-size: 21px;
    color: #fff;
    padding: 5px;
}
.room_dicount_tag::after {
    position: absolute;
    content: "";
    width: 20px;
    height: 100%;
    background:url(../images/bg2.png) no-repeat 0 -2px; background-size:100%;
    right: -18px;
    top: 0;
}
.room_img_detail {
    position: absolute;
    bottom: 0;
    color: #fff;
    z-index: 15;
    padding: 15px;
}
.room_img_detail h3 {
    font-size: 16px;
    font-weight: 800;
    margin: 0;
}
.room_img_detail h4 {
    font-size: 13px;
    font-weight: 400;
    text-transform: none;
    margin: 5px 0;
}
/**
 * Print
 */
@media print {
    .rating-container .clear-rating {
        display: none;
    }
}
.map_panel a {
    position: absolute;
    background: #df1835;
    display: block;
    color: #fff;
    font-size: 16px;
    top: 50%;
    left: 0;
    right: 0;
    margin: auto;
    text-transform: uppercase;
    width: 150px;
    text-align: center;
    padding: 10px;
    transform: translateY(-50%);
}
.find_hotel{ margin:25px 0;}
.find_hotel_search,.find_hotel,.map_panel {
    float: left;
    width: 100%;
    position: relative;
}
.find_hotel_search {
    background: #f00;
    padding: 10px 0;
}
.filter_box .input-text-book,.find_hotel_search .input-text-book {
    width: 100%;
    border: none;
    height: 30px;
    margin: 0 0 10px;
    padding: 5px;
}
.find_hotel_search .input-btn-book.btn-primary.read_more_btn {
    width: 100%;
    text-align: center;
    padding: 8px;
    border: none;
    background: #555;
    color: #fff;
    border-radius: 50px;
    font-size: 14px;
}
.filter_box .input-text-book{ border:1px solid #eee; height:50px;}
.filter_box form{ position:relative;}
.filter_box .input-btn-book.btn-primary.read_more_btn {
    position: absolute;
    width: 50px;
    /*height: 100%;*/
    height: 50px;
    padding: 0;
    border: none;
    text-indent: -500px; background:url(../images/search.png) #FF0000 no-repeat center;
    overflow: hidden;
    border-radius: 0;
    right: 0; bottom:12px;
}
.filter_box .input-text-book {
    border: 1px solid #eee;
    height: 50px;
    margin: 0; padding:5px;
}
.filter_box h2 {
    font-size: 18px;
}
.filter_box li{ text-transform:capitalize; border-bottom:1px solid #eee; padding:7px 0; font-size:13px;}
.filter_box li input[type=checkbox]{ margin-right:10px;}
.filter_box {
    float: left;
    width: 100%; position:relative;
    padding: 10px 0;
}
.filter_box property {
    float: left;
    width: 100%; position:relative;
    padding: 10px 0;
    overflow-y: scroll;
    height: 400px;
}
.heading-pro > p {
    color: #777;
    font-size: 15px;
    letter-spacing: 1px;
}
.heading-pro {
    padding: 50px 0;
}
.available_info > li {
    float: left;
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 1px;
    padding: 10px;
    text-transform: capitalize;
}
.act {
    background: #df1835;
	color:#fff;
}
.icon_ul > li {
    display: inline-block;
    font-size: 13px;
    padding: 5px;
    text-transform: capitalize;
}
.icon_had {
    display: inline-block;
    margin-top: 20px;
}
.room_detail {
    font-size: 24px;
    font-weight: bold;
}
.room_det > p {
    color: #666;
    font-size: 13px;
    margin-bottom: 25px;
}
._btn,.available_info,.icon_ul {
    float: left;
    width: 100%;
}
._btn a {
    display: inline-block;
    font-size: 15px;
    padding: 10px;
}
.act_btn {
    background: #df1835 none repeat scroll 0 0;
    color: #fff;
    font-weight: bold;
    letter-spacing: 1px;
    margin-right: 10px;
    text-transform: uppercase;
	border:2px solid #df1835;
}
.act_btn:hover{background:#fff;border:2px solid #df1835;color:#df1835;}
.unact_btn{background: #999 none repeat scroll 0 0;
    color: #fff;
    font-weight: bold;
    letter-spacing: 1px;
    margin-right: 10px;
    text-transform: uppercase;
	border:2px solid #999;
	}
.unact_btn:hover{background:#fff;border:2px solid #df1835;color:#df1835;}
._btn {
    margin-top: 20px;
}
.icon_ul i {
    color: red;
    font-size: 17px;
}
.room_list_item > li {
    background: #f5f5f5 none repeat scroll 0 0;
    margin-top: 40px;
}
.room_det {
    padding: 15px;
}
.room_list_item{padding-bottom:50px;}
.heading-pro span {
    color: #777;
    font-size: 24px;
    font-weight: 300;
    letter-spacing: 2px;
}
._image-srch img {
    width: 100%;
}
.booking-text > p {
    color: #444;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 1px;
}
.booking-text h2 {
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 17px;
}
._heading-hotel > h1 {
    font-size: 20px;
	position:relative;
}
._heading-hotel > h1::after {
    background: red none repeat scroll 0 0;
    content: "";
    height: 3px;
    left: 0;
    position: absolute;
    top: 25px;
    width: 90px;
}
.booking-form .form-control {
    border-radius: 0;
    height: 45px;
}
._heading-hotel {
    margin-bottom: 35px;
}
.booking-form .form-group > label {
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 1px;
}
.booking-form .form-group {
    margin-bottom: 25px;
}
.hotel_summery_title h3 {
    font-size: 13px;
    font-weight: 500;
    text-transform: capitalize;
    margin: 10px 0;
}
.hotel_summery_title h2 {
    color: #fff;
    font-size: 30px;
    font-family: roboto; text-align:center;
    margin: 0;
}
.hotel_summery_title_inner {
    width: 200px;
    margin: 0 auto;
}
.hotel_summery_title {
    background: #F71430;
    text-align: center;
    color: #fff;
    padding: 15px;float: left;
width: 100%;
    border-radius: 3px 3px 0 0;
}.hotel_summery {
    float: left;
    width: 100%;padding: 30px 0;
    background: #fff;
}
.hotle_summery_cont h1 {
    text-align: center;
    font-size: 30px;
    margin: 0;
    color: #F71430;
    font-weight: 400;
}
.hotel_summery_title_inner span {
   float: left;
font-size: 20px;
text-transform: capitalize;
display: block;
width: 100%;
text-align: left;
}
.hotel_summery_title_inner h3 {
    float: right;
    font-size: 18px;
    text-transform: uppercase;
}
.hotle_summery_cont {
    background: #fff;
    padding: 20px;
    box-shadow: 0 0 30px 1px #ccc;float: left; margin:0 0 30px;
width: 100%;
}
.hotle_summery_cont img {
    margin: 0 auto;
    display: block;
}
.hotle_summery_cont table {
    width: 100%; margin-bottom:20px
}
.hotle_summery_cont table td {
    padding: 11px;
    text-transform: capitalize;
    border-bottom: 1px dashed #eaeaea;
}
.book_print a {
    display: inline-block;
    padding: 5px;
    color: #666;
    border-left: 1px solid #e3e3e3;
    font-size: 16px;
}
.book_now {
    background: #efefef;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 600;
    padding: 10px 20px;
    border-radius: 3px;
}
.hotel_accept_card,.hotel_book_box {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 20px;
    text-align: center;
    margin: 30px 0;
}.hotel_book_box > a {
    border: 1px solid #ccc;
    padding: 12px 20px;
    display: inline-block;
    border-radius: 50px;
    text-transform: capitalize;
    font-weight: 600;margin: 0 0 10px;
    font-size: 16px;
}
.hotel_book_box > a i {
    color: #f00;
    margin-right: 6px;
}.hotel_book_box li {
    float: left;
    width: 33.33%;
    padding: 0 5px;
}
.hotel_book_box li a {
    display: block;
    background: #ccc;
    color: #fff;
    text-transform: capitalize;
    padding: 6px 10px;
    border-radius: 50px;
}
.hotel_book_box li a.facebook{ background:#3b5998}

.hotel_book_box li a.twitter{ background:#1da1f2}
.hotel_book_box li a.google{ background:#dd4b39}
.hotel_accept_card li {
    width: 20%;
    float: left;
    padding: 5px;
}
.hotel_accept_card{ margin:0 0 30px;}

.cust_detail {
    background: #eee;
    padding: 20px;
    font-size: 14px;
    line-height: 23px;
    float: left;
    width: 100%;
}.cust_img {
    float: right;
    margin: 10px 0 0 10px;
}.cust_info h4 {
    margin: 0;
    color: #f71430;
    font-size: 15px;
}
.cust_info {
    float: right;
    text-align: right;
    margin: 10px 0 0;
}
.hotel_custmer_review{ text-align:center;}

.hotel_slidshow { float:left; width:100%;
    padding: 30px 0 ;
}

#romm_detail_tab .resp-tabs-list li {
    padding: 10px 20px;
    font-size: 15px;
    font-weight: 500;
    border-radius: 3px;
    background: #f3f3f3; margin:0 0 0 10px; border-left: 2px solid #F71430;
	
}
#romm_detail_tab .resp-tabs-list li.resp-tab-active{background-color: #F71430;
border-color: #F71430;
color: #fff;}

#romm_detail_tab h2 {
    font-size: 24px;
    text-transform: capitalize;
}
#romm_detail_tab h2 span {
    color: #f71430;
}
.hotel_amenities li {
    width: 20%;
    float: left;
    padding: 5px;
    text-align: center;
}
.hotel_amenities li i {
    font-size: 40px;
    color: #666;
}
.amenity {
    padding: 10px;
    border: 1px solid #eee;
}
.hotel_amenities li span {
    display: block;
    margin: 10px 0 0;
    text-transform: capitalize;
    font-size: 15px;
}
.hotel_availability h5 {
    font-size: 14px;
    margin: 15px 0;
    text-transform: capitalize;
    font-weight: 500;
}
.availability_form .input-text-book {
    width: 100%;
    background: #fff;
    border: none;
    border: 1px solid #eee;
    padding: 6px;
    height: 45px; border-bottom-color:#f71430; text-transform:capitalize;
}
.availability_form button {
    background: #f71430;
    border: 0;
    padding: 10px 15px;
    width: 100%;
}
.hotel_rates table,.hotel_availability table{ width:100%; margin:30px 0 0}
.hotel_rates th,.hotel_availability th {
    text-transform:capitalize;
    font-size: 16px;
    font-weight: 500;
    padding: 10px;
}
.btn-danger {
    color: #fff;
    background-color: #F71430;
    border-color: #F71430;
}
.hotel_rates td,.hotel_availability td{ padding:20px 10px; text-align:center;}
.hotel_rates tr,.hotel_availability tr {
    border-bottom: 1px solid #eee;
}
.hotel_availability td img {
    width: 120px;
    float: left;
    margin: 0 10px 0 0;
}.hotel_availability td p {
    height: 75px;
    overflow: hidden;
    margin: 0;
}
.hotel_availability td a {
    background: #f71430;
    text-transform: uppercase;
    color: #fff;
    display: inline-block;
    font-size: 15px;
    padding: 10px 20px;
    border-radius: 30px;
}
.hotel_rates td:first-child,.hotel_availability td:first-child {
    width: 300px; text-align:left;
}
.hotel_rates h3 {
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;
}
.hotel_rates h3 span {
    display: block;
    font-size: 13px;
    color: #bfbfbf;
    margin: 10px 0 0;
}
body.login_panel{  background:url(../images/Dubai-skyline_4.jpg) no-repeat; background-size:cover; position:relative; z-index:9}
.login_panel_wrapper{ width:800px; margin: 50px auto; position:absolute; top:0; bottom:0; left:0; right:0}
.login_panel_wrapper_inner{ float:left; width:100%; background:#fff;}
.login_panel_wrapper_inner .get-in-touch {
    background: #f71430;
padding: 15px;
color: #fff;
min-height:550px;
padding-top: 20px;
}
.login_panel_wrapper_inner .get-in-touch { text-align:left;}

.login_panel_wrapper_inner .get-in-touch table i {
    background: #fff;
    padding: 7px;
    color: #000;
}

.login_panel_wrapper_inner  table td{padding: 8px 5px !important;}
.login_panel_wrapper_inner .table_text td:nth-of-type(3){font-weight: 400;}
.input_wrap i {
    position: absolute;
    left: 0;
    font-size: 23px;
    color: #666;
    top: 0;
    background: #eee;
    width: 50px;
    height: 50px;
    line-height: 50px;
}
.input_wrap {
    position: relative;
}
.login_input {
    width: 100%;
    border: 1px solid #eee;
    height: 50px;
    padding: 10px 10px 10px 65px;
    text-transform: capitalize;
}
.login_btn {
    background: #F71430;
    color: #fff;
    text-transform: uppercase;
    border:0;
    font-size: 16px;
    padding: 10px;
    width: 100%;
    border-bottom: 2px solid #D6000F;
    border-radius: 3px;
}
 .social_icon_login a {
    background: #000;
    color: #fff;
    text-transform: capitalize;
    font-size: 14px;
    padding: 10px;
    margin: 0 5px;
    display: inline-block;
    border-radius: 3px;
}
 .social_icon_login a i{ margin-right:5px;}
.social_icon_login a.facebook{ background:#3B5998;}
 .social_icon_login a.twitter{ background:#1DA1F2;}
  .social_icon_login a.google{ background:#DD4B39;}
.login_for_panel table h3 {
    font-size: 12px;
    margin: 0;
    text-transform: capitalize;
    font-family: roboto;
    font-weight: 500;
}
.login_for_panel  h2 {
    text-align: center;
    margin: 10px 0 0;
    font-size: 20px;
}
.login_for_panel {
    padding:  0 0;
}
.registration_wrap{ width:100%; float:left;}
.registration_wrap_inner{ width:800px; margin:0 auto 50px}
.registration_wrap_inner table{ width:100%; }
.registration_wrap_inner table td{ padding:8px; text-transform:capitalize;}
textarea, input{text-transform:capitalize;}
.registration_wrap_inner table td .form-control{ border-radius:0; height:50px;}
.registration_wrap_inner table td textarea{ height:100px; width:100%; padding:10px; border:1px solid #C6C6C6}
.registration_wrap_inner table td input[type=submit]{ background: #F71430;
    color: #fff;
    text-transform: uppercase;
    border:0;
    font-size: 16px;
    padding: 10px;
    width: 100%;
    border-bottom: 2px solid #D6000F;
    border-radius: 3px;}

.login_for_panel input[type="checkbox"] {
    margin: 2px 5px 0 0;
    float: left;
}
.login_for_panel p a{ font-weight:900}

.checkbox .check_panel {
    width: auto;
    position: relative;
    padding-left: 25px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 14px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.checkbox label::before {
    content: "";
    display: inline-block;
    width: 13px;
    height: 13px;
    position: absolute;
    left: 0;
    bottom: 0px;
}
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
    border: 1px solid #ccc;
}
.checkbox input:checked ~ .checkmark {
    background-color: #ed1c24;
    border-color: #ed1c24;
}
.checkbox  input {
    position: absolute;
    
}
.checkmark::after {
    content: "";
    position: absolute;
    display: none;
}
.checkbox .checkmark::after {
    left: 6px;
    top: 3px;
    width: 7px;
    height: 10px;
    border: solid white;
        border-top-width: medium;
        border-right-width: medium;
        border-bottom-width: medium;
        border-left-width: medium;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.checkbox input:checked ~ .checkmark::after {
    display: block;
}
.checkbox + .checkbox, .radio + .radio{ margin:0}
.registration_wrap_inner .checkbox{ float:left; margin:0 0 0 10px;}
.img_profile_panel {
    background: #000;
    border-radius: 50%;border: #000 10px solid; text-align:center;
}
.img_profile_panel_outer {
    width: 200px;margin: 0 auto; position:relative;
}.img_profile_panel img {
    border-radius: 50%;
    background: #000;
}
.img_profile_panel_outer:hover img {
    webkit-transform: scale(1.1);
    transform: scale(1.1);
    opacity: 0.5;
}
.img_profile_panel_outer h3 {
    text-align: center;
}	
.img_profile_panel_outer .travel_spcial_box_overlay{margin: auto;
    top: 50%;
    
    transform: translateY(-50%);}
.action_for_change li {
    padding: 8px 0;
    border-bottom: 1px dashed #e0e0e0;
}
.action_for_change {
    border-top: 1px solid #eee;
    margin: 30px 0;
    padding: 5px 0 0;
}
.action_for_change li a {
    font-size: 16px;
    text-transform: capitalize;
}
.action_for_change li a i {
    color: #F71430;
    margin-right: 5px;
}
.book_sum_title {
    background: #f71430 none repeat scroll 0 0;
    border-bottom: 1px solid #eee;
    color: #fff;
    font-size: 18px;
    padding: 10px;
	margin-top:0px;
    font-family: roboto;
}
.hotel_details_panel h4 {
    margin: 0;
    font-size: 14px;
    text-transform: capitalize;
}
.hotel_details_panel .col-md-9 p {
    color: #555;
    font-size: 13px;
}
.hotel_details_panel .col-md-9 p i {
    margin-right: 5px;
}
.hotel_details_panel__checkout ul li b {
    font-size: 12px;
    font-weight: 400;
    color: #777;
    line-height: 1.5;
}
.hotel_details_panel__checkout li {
    margin-bottom: 10px;
}
.hotel_details_panel .col-md-3{ padding:0}
.hotel_details_panel {
    float: left;
    width: 100%;
    margin: 0 0 15px;
}
.booking_summery {
    float: left;
    width: 100%;
    margin: 0px 0 30px;
}
.hotel_details_panel__checkout li span {
    font-weight: 600;
    color: #F71430;
}
.action_for_change li.active a, .action_for_change li a:hover {
    color: #F71430;
}
/* .total-payment {
    float: left;
    width: 100%;
    border: 1px solid #f71430;
    background: #ffedf3;
    padding: 20px;
    margin: 30px 0 0;
} */
.total-payment {
    border: 1px solid #ccc;
    border-radius: 5px;
    float: left;
    margin: 30px 0 0;
    padding: 20px;
    width: 100%;
}
.total-payment__title h2{ margin:0; font-size:24px;font-family: roboto;}
.total-payment__title h4 {
    font-size: 13px;
}
.total-payment #payment-apply-coupon-code-input {
    background-color: #f3f3f3;
    border: medium none;
    height: 40px;
}

.registration_wrap_inner table td input[type="reset"]{ background:#000; color:#fff; border-bottom: 2px solid #5E5E5E; text-transform:uppercase;
    border-radius: 3px;}
	.profile_wrap{ padding:50px 0 0;}
.mar_30b{ margin-bottom:30px;}






.color{color:#f71430;}
.room-includes > span {
    color: #f71430;
    display: inline-block;
    margin-bottom: 5px;
}
.room-includes {
    font-weight: bold;
}
.listNumber {
    float: left;
}
.non-refundable {
    color: #999;
    font-weight: normal;
    letter-spacing: 1px;
}
.booking_summery_second {
    display: inline-block;
    width: 100%;
}
.booking_summery_inner {
    background: #fff none repeat scroll 0 0;
    box-shadow: 0 0 30px 1px #ccc;
    float: left;
    margin: 0 0 30px;
    width: 100%;
}
.hotel_padding {
    padding: 15px;
}
.booking_summery_second {
    display: inline-block;
    border: 1px solid #eee;
    width: 100%;
}
.booking_summery_second ul, .hotel-policy {
    padding: 0 15px;
}
.hotel-policy {
    margin: 10px 0;
    font-size: 13px;
}
.hotel-policy i {
    font-size: 20px;
    color: #F71430;
}
.need-help__desc {
    font-size: 15px;
    font-weight: 600;
}
.text-latin {
    color: steelblue;
    font-weight: normal;
}
.need-help a {
    color: #f71430;
}
.total-payment__msg.vat > p {
    font-size: 15px;
	margin-bottom:2px;
}
.form_box {
    background: #fff none repeat scroll 0 0;
   border:1px solid #eee;
    display: inline-block;
    width: 100%;
}
.booking-form {
    float: left;
    width: 100%;
    margin: 10px 0 0;
}
.room_detail_panel {
    float:left;
    width: 100%;
    padding-bottom: 30px;
}
.lab {
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 1px;
}
.checkbox > label {
    font-size: 15px;
}
.display-table .display-table-cell {
    display: table-cell;
    float: none;
    vertical-align: middle;
	line-height: 18px;
}
.margin-right-sm {
    width: 70px;
}
.credit-card__security-text {
    color: #f71430;
    display: block;
    font-weight: 600;
}
.blocks {
    display: inline-block;
    width: 100%;
}
.blocks > li {
    width: 33%;
}
/* .blocks > li {
    background: #f5f5f5 none repeat scroll 0 0;
    border: 1px solid #e8e8e8;
    float: left;
    padding: 13px 0;
    width: 33.33%;
} */
.blocks > li {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: currentcolor #e8e8e8;
    border-image: none;
    border-style: none solid;
    border-width: medium 1px;
    float: left;
    padding: 13px 0;
    width: 33.33%;
}
.margin-right-sm {
    margin-left: 10px;
    margin-right: 30px;
    width: 45px;
}
.total-payment.help_panel {
    background: #f71430; border-color:#f71430;
}
.total-payment.help_panel h3 {
    text-align: center;
    font-size: 24px;
    margin: 0 0 18px;
    color: #fff;
}
.total-payment.help_panel p, .total-payment.help_panel a {
    color: #fff; font-size:14px;
}
dl.term-description {
    text-transform: uppercase;
    font-size: 12px;float: left;
width: 100%;
}
dl.term-description dt, dl.term-description dd {
    line-height: 1.3333em;
    float: left;
    width: 50%;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}
dl.term-description dd {
    padding-left: 20px;
}
dl.term-description dt {
    border-right: 1px solid #f5f5f5;
    color: #F71430;
    font-weight: 400;
    padding-right: 5px;
    clear: both;
}
hr{ float:left; width:100%;}
.booking-information h2 span {
    color: #F71430;
    margin: 0;
}
.total_hotel{ float:left; width:100%;}
.latest_post figure {
    display: inline-block;
}
.hover_effect {
    display: block;
    position: relative;
    background: none;
    overflow: hidden;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
.hover_effect img {
    display: block;
    position: relative;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.hover_effect::after {
    font-family: FontAwesome;
    color: #fff;
    position: absolute;
    font-size: 1.6em;
    text-align: center;
    line-height: 40px;
    width: 40px;
    height: 40px;
    left: 50%;
    top: 50%;
    margin-left: -20px;
    margin-top: -20px;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    -webkit-transform: scale(0.1,0.1);
    transform: scale(0.1,0.1);
    filter: alpha(opacity=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    -moz-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0;
}
.latest_post .details {
    display: inline-block;
    margin-left: 10px;
}
.latest_post .details span i {
    margin-right: 5px;
    font-size: .8em;
}
.total_price {
    float: left;
    width: 100%;
    border-bottom: 1px solid #e0e0e0;
    padding: 10px 0;
}
.latest_post{display: flex;
padding: 10px 0;
border-bottom: 1px dotted #e5e5e5;}
.total_price .btn_full {
    background: #F71430;
    color: #fff;
    display: block;
    text-align: center;
    text-transform: uppercase;
    font-size: 17px;
    padding: 10px;
    border-radius: 3px;
    margin: 15px 0;
}
.total_hotel {
    float: left;
    width: 100%;
    border: 1px solid #ccc;
    padding: 15px;
    margin: 30px 0 0;
}

#img {
    border: 2px solid #ccc;
    height: 500px;
    object-fit: contain;
}

#img1 {
    border: 2px solid #ccc;
    height: 315px;
    object-fit: contain;
}

#remove_cart {
    color:red !important;
    float: left;
}
.check_tag {
    width:100%;
    height: auto; 
    background: white;
    padding: 5px;
    position: absolute;
    display: block;
    margin-top: 5px;
    border: 1px solid red;
    z-index: 99;
}
header li.lang-select select {
    height: 30px;
    width: 150px;
    background: #F71430;
    border: none;
    color: #fff !important;
    padding: 5px;
}
.mobile{ display:none;}
.page-title{ float:left; width:100%;}
.total_price h2{font-size:18px;}
.total_price p {
    font-size: 21px;
    margin: 15px 0;
    color: #F71430;
    font-weight: 600;
}
.total_price .btn.btn-danger {
    background: #F71430;
    width: 100%;
    border: none;
}


.loader {
    position:absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url('assets/loader.gif') 50% 50% no-repeat rgb(249,249,249);
    opacity: .8;
}

.loader1 {
    position:relative;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url('assets/loader.gif') 50% 50% no-repeat rgb(249,249,249);
    opacity: .8;
}


.filter_box.property ul {
    overflow-y: scroll;
    height: 350px;
}


.resp-tabs-list li {
  font-weight: 600;
  font-size: 13px;
  display: inline-block;
  margin: 0;
  list-style: none;
  cursor: pointer;
  float: left;
  padding: 25px 20px;
text-transform: uppercase;
font-weight: 400;
}
.resp-tabs-list{ background:rgba(255,255,255,0.9); float:left; width:100%;}
.resp-tabs-container {
  padding: 0px;
  background-color: rgba(255,255,255,0.6);
  clear: left; padding-bottom: 50px;
}

h2.resp-accordion {
  cursor: pointer;
  padding: 5px;
  display: none;
}

.resp-tab-content {
  display: none;
  padding: 15px;
}

.resp-tab-active {
  border: 1px solid #c1c1c1;
  border-bottom: none;
  margin-bottom: -1px !important;
}

.resp-tab-active {
  border-bottom: none;
  background-color: #F71430;
border-color: #F71430; color:#fff;
}

.resp-content-active,
.resp-accordion-active { display: block; }


h2.resp-accordion {
  font-size: 13px;
  border: 1px solid #c1c1c1;
  border-top: 0px solid #c1c1c1;
  margin: 0px;
  padding: 10px 15px;
}

h2.resp-tab-active {
  border-bottom: 0px solid #c1c1c1 !important;
  margin-bottom: 0px !important;
  padding: 10px 15px !important;
}

h2.resp-tab-title:last-child {
  border-bottom: 12px solid #c1c1c1 !important;
  background: blue;
}

.rating-input i { color: #E5A600; font-size: 21px; }
/*-----------Accordion styles-----------*/

h2.resp-tab-active { background: #DBDBDB !important; }

.resp-easy-accordion h2.resp-accordion { display: block; }

.resp-easy-accordion .resp-tab-content { border: 1px solid #c1c1c1; }

.resp-easy-accordion .resp-tab-content:last-child { border-bottom: 1px solid #c1c1c1 !important; }

.resp-jfit {
  width: 100%;
  margin: 0px;
}

.resp-tab-content-active { display: block; }

h2.resp-accordion:first-child { border-top: 1px solid #c1c1c1 !important; }

.children_age,.children,.adult,.room{ float: left;

width: 70px;

padding: 0 5px;}
.children_age span,.adult span,.children span{ display:block; margin: 0 0 8px;}
.children_age{ width:auto;}
.fieldwrapper{ float:left; width:100%;}
.children_age{ display:none;}
#buildyourform {
    float: left;
    width: 100%;
    background: #fff;
    padding: 10px;
}
#add {
    background: #F71430;
display: block;
color: #fff;
font-size: 13px;
padding: 8px 10px;
float: left;
width: 100%;
text-transform: capitalize;
font-weight: 600; cursor:pointer;
}
.fieldwrapper label {
    font-size: 14px;
    font-weight: 500;
    text-transform: capitalize;
}
.fieldwrapper  select {

    width: auto;

}
.fieldwrapper {

    float: left;
    width: 100%;
    margin: 0 0 10px;

}
.fieldwrapper .remove {
    background: #ccc;
    border: none;
    border-radius: 50%;
    color: #000;
    font-size: 26px;
    width: 20px;
    height: 20px;
    line-height: 0;
    text-align: center;
    padding: 0 0 4px;
    float: right;
}
/*Here your can change the breakpoint to set the accordion, when screen resolution changed*/
@media only screen and (max-width: 768px) {

ul.resp-tabs-list { display: none; }

h2.resp-accordion { display: block; }

.resp-vtabs .resp-tab-content { border: 1px solid #C1C1C1; }

.resp-vtabs .resp-tabs-container {
  border: none;
  float: none;
  width: 100%;
  min-height: initial;
  clear: none;
}

.resp-accordion-closed { display: none !important; }

.resp-vtabs .resp-tab-content:last-child { border-bottom: 1px solid #c1c1c1 !important; }
}












@media all and (max-width: 1200px) {
	.banner_content h1{ font-size:43px;}
	#room_list_inner .col-md-6{ width:100%; padding:0}
	.filter_box h2 {
    font-size: 16px;
}
.available_info > li{font-size: 13px; padding:5px;
font-weight: 600;}
.room_det > p{ margin-bottom:10px;}
.icon_had{display: inline-block;
margin-top: 10px;
font-size: 15px;}
.hotel_rates h3{ font-size:14px; line-height:23px;}
.hotel_rates th, .hotel_availability th{ font-size:14px;}
}
@media all and (max-width: 990px) {
	.nav.navbar-nav li a{padding: 20px 20px;}
.top_header{ text-align:center;}
.nav.navbar-nav li {  float: none;  display: inline-block;}
.navbar-default { float: none !important;}
.navbar-nav{ float:left; width:100%;}
.resp-tabs-list li{display: block; float:none;padding: 9px 20px; text-align:center;}
table .input-select-book, table .input-text-book{height: 30px;
padding: 1px 10px;}
.form-group{ margin:0}
.banner_content .input-btn-book{ font-size:16px;}
.title_tour p{ padding:0}
.package_title h5 {    margin: 5px 0;}
.tourmaster-tour-category-head h3{ font-size:15px; margin-bottom:10px;}
.tourmaster-tour-category-head{ height:100px;}
.travel_spcial_box_overlay h3 a{font-size: 13px;}
.bottom_footer{ text-align:center;}	
.bottom_footer p {
    float: none !important;
    margin: 15px 0 0;
}
.read_more_btn {
    margin: 0 auto;
    float: none;
    display: block;
    text-align: center;
    width: 300px;
}
header li.lang-select select{height: 26px;width: 110px;}
header li{padding: 5px 7px;}
header .col-md-6 {
    float: left;
    width: 50%;
}
.banner_content .col-md-6 {
    float: left;
    width: 100%;
}
.banner_content h1 {
    text-align: center;
    font-size: 35px; line-height:35px;
}
.banner_content p {
    margin: 15px 0;
    text-align: center;
}
.offer_panel_outer .overlav{ padding:10px;}
.offer_panel_outer .overlav h3{ font-size:16px;}
.offer_panel_outer li{padding: 20px 15px 0;
font-size: 13px;}
.services_list_inner{ text-align:center;}
.leader_outer .col-md-1 {
    width: 30px;
    float: left;
    padding: 0 5px;
}
.leader_outer .col-md-10 {
    width: 85%;
    float: left;
    padding: 0;
}
.social_link_leader a{ font-size:15px;}
.overlay_top{width: 60%;}
.overlay_top h3{font-size: 12px;margin: 0 0 10px;}
.overlay_top h4 {
    font-size: 10px;
    margin: 0;
}
.overlay_bottom p {
    font-size: 12px;
    line-height: 18px;
}
#room_list_inner .col-md-6:last-child {
    padding: 20px;
}
}
@media all and (max-width: 767px) {
	header .col-md-6 {
    width: 100%; text-align:center;}
	header .pull-right,header .pull-left{ float:none !important; margin: 3px 0;}
	.top_header .col-md-4, .top_header .col-md-8 {
    float: left;
    width: 50%;
}
.navbar-default .navbar-toggle:focus,.navbar-default .navbar-toggle { border-color: #F71430;   background: #F71430;}
.navbar-default .navbar-toggle:hover{ border-color: #fff;   background: #fff;}
.navbar-default .navbar-toggle .icon-bar{ background:#fff;}
.navbar-default .navbar-toggle:hover .icon-bar{ background:#F71430;}
.navbar-default .navbar-collapse{position: absolute;
z-index: 999;
width: 100%;
background: #000;}
.navbar-nav{ margin:0}
.nav.navbar-nav li{display: block;
width: 100%;
padding: 0;
margin: 0;}
.package_outer .col-md-4.col-sm-4 {
    width: 33.33%;
    float: left;
}
.tour_img_outer {
    float: left;
    width: 50%;
}
.tourmaster-tour-category-head {
    height: 80px ;
}
.travel_spcial .col-md-3.col-sm-3 {
    width: 50%;
    float: left;
    margin: 0 0 30px;
}
header li{ border:none;}
.leader_outer .col-md-4.col-sm-4 {
    float: left;
    width: 33.33%;
}
.leader_outer .col-md-1 {
    width: 100%;
    float: left;
}
.social_link_leader a {
    font-size: 15px;
    display: inline-block;
    padding: 0 9px 10px;
    margin: 0;
}
.social_link_leader {
    text-align: center;
}
.leader_outer .col-md-10 {
    width: 100%;
    float: left;
    padding: 0;
}
.leader_outer img{ width:100%;}
.overlay_top {
    width: 100%;
    position: relative;
}
.overlav_outer{ margin-bottom:20px;}
.offer_about .col-md-4.col-sm-4 {
    width: 80%;
    margin: 0 auto;
}
.offer_panel_outer .overlav {
    padding: 20px;
}
.hotel_availability table tr:first-child {

    display: none;

}
.hotel_availability tr {

    border-bottom: 1px solid #eee;
    display: block;
    float: left;
    width: 50%;
    padding: 15px;

}
.hotel_availability td:first-child,.hotel_availability td {

    width: 100% !important;
    display: block;
    float: left;
    padding: 0 0 8px;
    text-align: center;

}
.hotel_availability td img{ width:auto;margin: 0 0 10px;}
.hotel_availability td p{height: auto;
overflow: hidden;
margin: 0;}
.blocks > li{ width:100%; border:none; border-bottom:1px solid #eee;}
}
@media all and (max-width: 640px) {
		.banner_content h1{ font-size:30px;}
		.package_outer .col-md-4.col-sm-4{ width:100%;}
		.travel_spcial .col-md-3.col-sm-3,.package_inner img{ width:100%;}
		.tourmaster-tour-category-head{height: 90px;}
		.newsletter_inner form{ width:400px;}
		.horizontalTab table td { display: block;}
		table .select_wrap .input-select-book{width: 107%;}
		.title_tour h2{font-size: 22px;padding: 10px 0 5px;
margin: 15px 0 23px;}
.title_tour{ margin-bottom:30px;}
.offer_panel_outer li{ font-size:14px;}.offer_about .col-md-4.col-sm-4{ width:100%;}.social_link_leader a{padding: 0 7px 10px;}
.leader_outer .col-md-4.col-sm-4{ width:100%;}
.page-title h1 {
    font-size: 30px;
    margin: 0 0 15px;
}
.bradcrum > p {
    text-transform: capitalize;
    margin: 0;
}
.bradcrum {
    color: #fff;
    padding: 35px 0px;
}

}
@media all and (max-width: 580px) {
.hotel_rates {
    width: 100%;
    overflow-x: scroll;
}
.hotel_rates table{width: 500px;}
h1{ font-size:24px; padding:0 15px;}
.bradcrum > p{ font-size:14px;}
}
@media all and (max-width: 480px) {
	.newsletter_inner form{ width:100%; float:left; height:auto}
	.newsletter_inner .input_text{ width:100%;}
	.newsletter_inner .submit_btn {    width: 100%;  margin: 9px auto 0;}
	.read_more_btn{ width:100%; padding:10px; font-size: 16px;}
	.banner_content h1{ font-size:24px;}.banner_content p{ font-size:15px; margin: 0 0 10px;}
	.offer_panel_outer li::after{width: 100%;
height: 1px; top:auto; bottom:0;}
.offer_panel_outer li{width: 100%;}
.offer_panel_outer li::before{right: 0;
bottom: -4px;
left: 0;
margin: 0 auto;}.tour_img_outer{ width:100%;}
#horizontalTab table td {
    display: block;
    width: 100%;
}
.hotel_availability tr {
    width: 100%;
}
	}